.home {
    display: flex;
    flex-direction: column;
}

.landing {
    height: calc(100vh - var(--nav_height));
    display: flex;
}

section {
    position: relative;
}

.landing_introduction {
    margin: 0% 5% 0% 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing_title {
    font-weight: 700;
    font-size: 5.8rem;
    color: var(--primary-text-color-1);
}

.landing_title_we {
    color: var(--primary-text-color-2);
}

.landing_subtitle {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--primary-text-color-1);
}

.landing_text {
    font-size: 1.4rem;
    width: 90%;
    font-weight: 300;
    line-height: 2.5rem;
}

.landing_pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.landing_img {
    height: 80%;
}

.earlyAdoptBtn {
    cursor: pointer;
    margin-top: 2rem;
    height: auto;
    width: 30%;
    min-width: fit-content;
    background: -webkit-linear-gradient(0deg, transparent 50%, var(--primary-text-color-1) 50%);
    background-size: 800px 80px;
    border: 2.5px solid var(--primary-text-color-1);
    color: var(--primary-text-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    position: relative;
    text-decoration: none;
    border-radius: 50px;
}

.earlyAdoptBtn:hover {
    background-position: 350px 0;
    color: var(--background-color);
}

.earlyAdoptBtnText {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 3% 0px;
    margin: 0px 20px 0px 20px
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 90px;
}

.wave .shape-fill {
    fill: var(--background-color-2);
}

.aboutUs {
    background-color: var(--background-color-2);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.aboutUs_content {
    width: 80%;
    margin: 8% 0 5% 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.aboutUs_title {
    font-weight: 600;
    font-size: 3.5rem;
    color: var(--primary-text-color-1);
}

.aboutUs_sec {
    display: flex;
    flex-direction: row;
    margin: 5% 0 2% 0;
    align-items: center;
}

.aboutUse_sec_textcontent {
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    text-align: left;
}

.aboutUs_sec_img {
    width: 25rem;
}

.aboutUs_subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary-text-color-1);
}

.aboutUs_text {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 2.2rem;
}

.custom-shape-divider-top-1706091292 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
} 

.custom-shape-divider-top-1706091292 .shape-fill {
    fill: var(--background-color-2)
}

.backedBySec {
    display: flex;
    justify-content: center;
}

.backedByContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5% 0 5% 0;

}

.nus_img {
    height: 10rem;
}

.backedByText {
    font-weight: 400;
    font-size: 1.2rem;
}

@media only screen and (max-width: 900px) {
    .landing_subtitle {
        font-size: 1.2rem;
    }

    .landing_pic {
        display: none;
    }

    .landing_title {
        font-size: 3.5rem;
    }

    .landing_text {
        font-size: 1.2rem;
    }

    .earlyAdoptBtnText {
        font-size: 1.2rem;
    }

    .aboutUs_title {
        font-size: 2rem;
        margin: 10% 0 10% 0;
    }

    .aboutUs_sec {
        flex-direction: column;
        margin: 15% 0 15% 0
    }

    .aboutUs_sec_img {
        width: 80%;
        margin: 0 0 10% 0
    }

    .aboutUs_subtitle {
        font-size: 1.2rem;
    }

    .aboutUs_text {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 340px) {
    .landing_subtitle {
        font-size: 1rem;
    }

    .landing_title {
        font-size: 2.5rem;
    }

    .landing_text {
        font-size: 1rem;
    }

    .earlyAdoptBtnText {
        font-size: 1rem;
    }

    .aboutUs_title {
        font-size: 1.5rem;
        margin: 10% 0 10% 0;
    }

    .aboutUs_sec {
        flex-direction: column;
        margin: 15% 0 15% 0
    }

    .aboutUs_sec_img {
        width: 80%;
        margin: 0 0 10% 0
    }

    .aboutUs_subtitle {
        font-size: 1rem;
    }

    .aboutUs_text {
        font-size: 1rem;
    }

    .backedByText {
        font-size: 1rem;
    }

    .nus_img {
        height: 8rem;
    }
}